* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1140px;
  /* height: 4000px; */
  margin: 0 auto;
  /* background: url("../img/bg/columnsfotoLogo.png"); */
}
.promo {
  height: 800px;
  background: url("../img/bg/main_bgmain_bg.png") center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}
/* .logo_text {
  margin: 100px;
} */

h1 {
  margin-top: 53px;
}
.title {
  /* position: absolute;
  width: 780px;
  height: 41px;
  left: 573px;
  top: 197.5px; */

  color: #f9bf3b;
  font-family: "Roboto - Black";
  font-weight: 400;
  font-size: 41px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
h2 .title {
  margin-top: 30px;
}

.simple .title_big {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;

  /* display: flex;
  align-items: center;
  text-align: justify; */
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  color: #ffffff;
  font-family: "Roboto Light";
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}

.promo .promo_text span {
  color: #f9bf3b;
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.promo .promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 73px;

  width: 313px;
  height: 72px;
  box-shadow: inset 0 -05px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
/*  2 section */

.waiting {
  height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  color: #252525;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.finish .finish_header {
  color: #fff;
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  margin-top: 17px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}
.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}

/* section 3 */

.optimization {
  min-height: 550px;
  padding: 102px 0 107 0;
}
.container {
}
.optimization .optimization_header {
  margin-left: 391px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}
.optimization .optimization_text span {
  font-family: Roboto;
  font-weight: 700;
}
.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

/* section 4  */

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url(../img/bg/main_bgmain_bg.png) center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
  width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 105px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  color: #efefef;
  font-family: Roboto;
  font-size: 17px;
  line-height: 20px;
}
/* section 5 ......................................................................*/

.geschenk {
  height: 631px;
  padding: 20px;
  background-color: #efefef;
}
.container {
}
.geschenk_content {
}
.geschenk_content img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
.geshchenk_text {
  margin-top: 50px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #252525;
}

.geschenk_btn {
  display: block;
  margin: 0 auto;
  margin-top: 73px;
  width: 313px;
  height: 72px;
  left: 805px;
  top: 471px;
  cursor: pointer;
  text-align: center;

  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* section 6 */
/* section 6 */
/* section 6 */
/* section 6 */
/* section 6 */
/* section 6 */
/* section 6 */
/* section 6 */

.webinar {
}

.webinar img {
  display: block;
  margin: 0 auto;
  margin-top: 73px;
}

.webinar-info {
  margin-top: 40px;
  margin-left: 330px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #252525;
}
.webinar-data {
  margin-left: 250px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #299cbd;
}
.webinar-text {
  margin-top: 40px;
  margin-left: 230px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  /* identical to box height, or 87% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #4a4a4a;
}
